<link rel='stylesheet' href='styles/{{style}}' />
<div>
  <a href='/container'>Container</a>
  <a href='/layout'>Layout</a>
  <a href='/body'>Body</a>
  <a href='/component'>Component</a>
  <a href='/params'>Params</a>
</div>