<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    <h1>Home page</h1>

    {{{body}}}

  </body>
</html>
